/* ------------------------------- Styling and Colour */

body {
 background-color: #202225;
 color: #fff;
 font-family: 'Heebo', sans-serif;
}

h3 {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

/* ------------------------------- Header styling */
.logo-score {
    background-color:#202225;
    border-bottom: solid 1px #B2B2B2;
    width: 100%;
    padding-top: 9px;
}

.h-score {
    padding-left: 2px;
    color: #28CDFF;
}

.high-score {
    text-align: right;
    padding-bottom: 2px;
}

.logo {
    padding-bottom: 3px;
    vertical-align: middle;  
}

.position {
    margin-left: 3%;
    margin-right: 3%;
}

/* ------------------------------- Game Container styling */
.frame {
    margin-top: 2%;
    border: solid 1px #B2B2B2;
    border-radius: 40px;
    height: 65%;
}

.spacing {
    padding: 15px;
}

.main-game {
    border-top: solid 1px #B2B2B2;
    border-bottom: solid 1px #B2B2B2;
    width: 100%;
    height: 490px;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
}
/* ------------------------------- Center Game Title & Score styling */
.rnd-score {
    text-align: right;
    margin: auto;
}

.score-num {
    color: #FC0050;
}
/* ------------------------------- Button styling */
.button-style {
    border-radius: 50px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 22px;
    border: none;
    text-align: center;
    width: 180px;
}

.button-layout {
    margin: auto;
}

.btn-warning:not(:disabled):not(.disabled):active {
    border-color: #2f3236;
}

#red-button {
    background-color: #28CDFF;
    margin: 0 auto;
    display: grid;
}

#red-button:hover,
#red-button:active,
#red-button:focus,
#red-button:active:focus {
    background-color: rgb(30, 143, 177);
    color: #fff;
    border-color: #2f3236;
}

#yellow-button {
    background-color: #FC0050;
    margin: 0 auto;
    display: grid;
    margin-top: 30%;
    margin-bottom: 30%;
    
}

#yellow-button:hover,
#yellow-button:active,
#yellow-button:focus,
#yellow-button:active:focus {
    background-color: rgb(197, 4, 65);
    color: #fff;
}

#blue-button {
    background-color: #00E384;
    margin: 0 auto;
    display: grid;
    margin-top: 30%;
    margin-bottom: 30%;
}

#blue-button:hover,
#blue-button:active,
#blue-button:focus,
#blue-button:active:focus {
    background-color: rgb(1, 184, 107);
    color: #fff;
}

.start-button {
    border: solid 1px #B2B2B2;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto;
    display: flow-root;
    margin-top: 30%;
    margin-bottom: 30%;
}

#green-button {
    background-color: #FFBA19;
    margin: 0 auto;
    display: grid;
    margin-bottom: 10%;
}

#green-button:hover,
#green-button:active,
#green-button:focus,
#green-button:active:focus {
    background-color: rgb(204, 151, 26);
    color: #fff;
}

.btn-warning:disabled {
    color:#fff;
}

.btn-warning:focus {
    box-shadow: none;
}
/* ------------------------------- Commands styling */

.command {
    display: none;
}

#command {
    text-align: center; 
    margin-top: 30%;
    margin-bottom: 30%;
    height: 110px;
    font-size: 40px;

}

/* ------------------------------- key commands styling */
.key-commands {
    font-weight: 200;
    color: #B2B2B2;
    text-align: center;
}

/* ------------------------------- Timer styling */
#timer {
    font-size: 28px;
    text-align: center;
    margin-top: -130px;
}

/* ------------------------------- Modal Styling */
#myModal h3{
    color: #202225;
}

#myModal p{
    color: #202225;
}

#myModalOver h3{
    color: #202225;
}

#myModalOver p{
    color: #202225;
}

.modal-button {
    background-color: #FC0050;
}

.modal-button:hover,
.modal-button:active,
.modal-button:focus,
.modal-button:active:focus {
    background-color: rgb(197, 4, 65);
}

/* ------------------------------- Media Queries */

@media (max-width: 414px) {
    .high-score {
        text-align: center;
        padding-top: 20px;
    }

    .rnd-score {
        text-align: center;
    }

    #timer {
    margin-top: -160px;
    }

    h3 {
        font-size: 22px;
    }

    .rnd-score {
        text-align: left;
    }

    .logo img{
        margin: 0 auto;
        display: grid;
    }

    .frame {
        border: none;
        height: 0;
    }

    #yellow-button,
    #blue-button {
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .button-style {
        font-size: 22px;
        width: 60%;
    }

    .start-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    #command {
    margin-top: 0;
    margin-bottom: 0;

}

    .main-game {
    border-bottom: none;
    height: 76vh;
    padding-top: 7%;
}
}

@media (max-width: 320px) {
    .high-score {
        text-align: center;
        padding-top: 20px;
    }

    .rnd-score {
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    .rnd-score {
        text-align: left;
    }

    .logo img{
        margin: 0 auto;
        display: grid;
    }

    .frame {
        border: none;
        height: 0;
    }

    #yellow-button,
    #blue-button {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .button-style {
        font-size: 18px;
        width: 60%;
    }

    .start-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    #command {
        margin-top: 0;
        margin-bottom: 0;

    }

    .main-game {
    border-bottom: none;
    width: 100%;
    height: 420px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 3%;
}

}

@media (max-width: 375px) {
    .main-game {
        padding-top: 5%;
    }

    .rnd-score {
        text-align: center;
    }

    #green-button {
        margin-bottom: 0;
    }

    .frame {
        height: 0;
    }
}

@media (max-width: 540px) {

    h3 {
        font-size: 22px;
    }

    .rnd-score {
        text-align: center;
    }

    .high-score {
        text-align: center;
        padding-top: 20px;
    }

    .main-game {
    border-bottom: none;
    }

    .rnd-score {
        text-align: left;
    }

    .logo img{
        margin: 0 auto;
        display: grid;
    }

    .frame {
        border: none;
        height: 0;
    }

    #yellow-button,
    #blue-button {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .start-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    #command {
        margin-top: 0;
        margin-bottom: 0;

    }

    #green-button {
        margin-bottom: 0;
    }
}