/* ------------------------------- Styling and Colour */

body {
 background-color: #202225;
 color: #fff;
 font-family: 'Heebo', sans-serif;
}

h3 {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 33px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
}

/* ------------------------------- Header styling */
.logo-score {
    background-color:#202225;
    border-bottom: solid 1px #B2B2B2;
    width: 100%;
    padding-top: 15px;
}

.h-score {
    padding-left: 2px;
    color: #28CDFF;
}

.high-score {
    text-align: right;
    padding-bottom: 10px;
}

.logo {
    padding-bottom: 10px;
    vertical-align: middle;  
}

.position {
    margin-left: 3%;
    margin-right: 3%;
}

/* ------------------------------- Game Container styling */
.frame {
    margin-top: 3%;
    border: solid 1px #B2B2B2;
    border-radius: 40px;
}

.spacing {
    padding: 15px;
}

.rnd-score {
    text-align: right;
    margin: auto;
}

.score-num {
    color: #FC0050;
}


/* ------------------------------- Center Game Title & Score styling */





/* ------------------------------- Media Queries */

@media (max-width: 414px) {
    .high-score {
        text-align: center;
        padding-top: 20px;
    }

    h2 {
        font-size: 33px;
    }

    .rnd-score {
        text-align: left;
    }

}

@media (max-width: 320px) {
    h3 {
        font-size: 22px;
    }

    h2 {
        font-size: 25px;
    }
}